html, body {
    margin: 0;
}

.bg {
    background-image: url(./Assets/bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    min-height: 100vh;
    height: 100%;
}

.center-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-field {
    margin-bottom: 2rem;
}